*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-inner{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li{
    list-style: none;
    text-decoration: none;
}

#new-products{
    background-color: grey;
    padding-left: 10vw;

}

#button-to-order-new{
    background-color: lightgrey; 
    color: black;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float:right;
    position: relative;
    /* bottom: 300px; */
}

#new-products > h2{
    float: right;
    position: relative;
    top:30px;
    right: 20px;
}